# Try building the Boulder Debian package on every PR and push to main. This is
# to make sure the actual release job will succeed when we tag a release.
#
# Keep the matrix and the container-building steps in sync with release.yml.
name: Try release
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-24.04
    outputs:
      go-versions: |-
        [
          "1.25.5"
        ]
      architectures: |-
        [
          "amd64",
          "arm64"
        ]
    steps:
      - run: echo "GO_VERSIONS configured in job outputs"

  try-release:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        GO_VERSION: ${{ fromJSON(needs.setup.outputs.go-versions) }}
        arch: ${{ fromJSON(needs.setup.outputs.architectures) }}
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Build Boulder container and .deb
        id: build
        env:
          GO_VERSION: ${{ matrix.GO_VERSION }}
        run: ./tools/container-build.sh

      - name: Compute checksums
        id: checksums
        # The files listed on this line must be identical to the files uploaded
        # in the last step of the real release action.
        run: sha256sum boulder*.deb boulder*.tar.gz >| "boulder-${{ matrix.GO_VERSION }}.$(date +%s)-$(git rev-parse --short=8 HEAD).checksums.txt"

      - name: List files
        id: files
        run: ls boulder*.deb boulder*.tar.gz boulder*.checksums.txt

      - name: Show checksums
        id: check
        run: cat boulder*.checksums.txt

      - name: Build ct-test-srv container
        run: docker buildx build --load . --build-arg "GO_VERSION=${{ matrix.GO_VERSION }}" -f test/ct-test-srv/Dockerfile -t "ghcr.io/${{ github.repository_owner }}/ct-test-srv:${{ github.sha }}-go${{ matrix.GO_VERSION }}-${{ matrix.arch }}"
